.graphic-card {
  max-width: 58%;
  margin: auto;
  margin-top: 20px;
  right: 8%;
}

.cards {
  margin: 30px;
  display: flex;
  flex-direction: row;
  width: auto;
  height: 130px;
  padding: 5px;
}

.cards > .example-card {
  flex: 1 1 auto;
  margin: 0px 5px;
}

.side-cards > .example-card {
  display: grid;
  margin: 20px;
  width: 150%;
  right: 250px;
}

mat-card {
  width: -webkit-fill-available;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.sidebar {
  width: 200px;
  background-color: #696969;
}

.parent {
  padding: 5px;
  font-size: 20px;
}

.full-width {
  width: 100%;
  color: white;
}

mat-card-subtitle {
  font-size: 18px;
}

mat-icon {
  color: white;
}
